@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f3f4f6;
  --background: #030712;
  --accent: #6366f1;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
